<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="6951f62e-90da-4378-80e4-68d4f1821196" Version="1.0.0.0" Publisher="CN=Kana" />
  <Properties>
    <DisplayName>NumberMagic</DisplayName>
    <PublisherDisplayName>Kana</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="NumberMagic" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="NumberMagic" ForegroundText="dark" BackgroundColor="#454545">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images/splashscreen.png" BackgroundColor="#454545" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>