.homepage section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}

#readTable {
    position:absolute;
    top: 24%;
    left: 15%;
    text-align:right;
}

#testTable {
    position:absolute;
    top: 24%;
    left: 60%;
    text-align:right;
    visibility:hidden;
}

td {
    position:relative;
    width: 3em;
    height: 3em;
}