.homepage section[role=main] {
    margin-left: 120px;
}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
    }
}

@media screen and (-ms-view-state: portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
    }
}

.pagetitle {
    height: 3%;
    width: 9%;
}

#scoretable th, #statstable th {    
    background-color:black;
    border:1px solid white;
    text-align:center;
}

#scoretable td, #statstable td {    
    background-color:black;
    border: 1px 1px 0px 0px solid white;
    text-align:center;
}

#scoretable, #statstable {
    width:81%;

    font-family:'Arial';
    font-style:oblique;
    font-weight:300;
    font-size:large;
}