.homepage section[role=main] {
    margin-left: 120px;
}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
    }
}

@media screen and (-ms-view-state: portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
    }
}

.pagetitle {
    height: 3%;
    width: 9%;
}

th {    
    background-color:black;
    border:1px solid white;
    text-align:center;
}

td {    
    background-color:black;
    border: 1px 1px 0px 0px solid white;
    text-align:center;
}
