..homepage section[role=main] {
    margin-left: 120px;
}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
    }
}

@media screen and (-ms-view-state: portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
    }
}

.pagetitle {
    height: 3%;
    width: 9%;
}
.numContainer {    
    background-size:100%;
    background-repeat:no-repeat;
    border:none;
}

#guide {
    position: absolute;
    height:1em;
    width:39em;
    left: 27em;
    top: 9em;
    overflow: visible;
    visibility:hidden;
}

img {
    width:69px;
    height:69px;
    border-radius: 69px;
}

#numGridm {
    position: absolute;
    height:540px;/*12em;*/
    width:450px;/*30em;*/
    left: 33em;
    top: 12em;
}

#mistakesBox {
    visibility: hidden;
}
#mistakesBox, #timeBox {
    top:9em;
}


.disabled {
    opacity:0.4;
    width:5em;
    height:5em; 
}

* {
	-ms-touch-action: none;
	-ms-content-zooming: none;
	overflow: hidden;
}
