.homepage section[role=main] {
    margin-left: 120px;
}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
    }
}

@media screen and (-ms-view-state: portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
    }
}

.pagetitle {
    height: 3%;
    width: 10%;
}
.numContainer {
    height:10em;
    width:10em;
    background-color:black;
    border:solid white;
    text-align:center;
}

.numIn {
    position:relative;
    height: 10em;
    width: 10em;
    color:black;
    background-color:white;
    text-align: center;
}

#numGrid {
    position: absolute;
    left: 5%;
    width: 75%;
    height: 60%;
    top: 20%;
    background-color: black;
    overflow: scroll;
}

#pawnHeap {
    position:absolute;
    left:80%;
    width:15%;
    height:60%;
    top:20%;
    background-color:white;
    overflow:scroll;   
}

#pawnHeap10 {
    position:absolute;
    left:80%;
    height:8em;
    width:8em;
    top:20%;
    background-color:white;   
}