.homepage section[role=main] {
    margin-left: 120px;
}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
    }
}

@media screen and (-ms-view-state: portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
    }
}

.pagetitle {
    height: 3%;
    width: 9%;
}
.numContainer {    
    position:relative;
    width:6em;
    height:6em;    
    background-color:black;
    border:solid white;
    text-align:center;
}

 .freepawn {     
    width:6em;
    height:6em;    
}

.setpawn {     
    width:5em;
    height:5em;    
}

#numGrid {
    position: absolute;
    height:6em;
    width:30em;
    left: 3%;
    top: 27%;
    background-color: black;
    overflow: scroll;
}

#pawnHeap {
    position:absolute;
    left:78%;
    width:15%;
    height:21em;
    top:27%;
    background-color:black;
    overflow:scroll;
    text-align:center;   
}